@model ShopEcommerce.Models.Page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Menu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item"><a>Menu</a></li>
                <li class="breadcrumb-item active">Add </li>
            </ol>
        </nav>

        <hr />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <section class="section dashboard">
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="CreateOrUpdate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="IdPage" type="hidden" />
                    <div class="form-group">
                        <label asp-for="TitlePage" class="control-label"></label>
                        <input asp-for="TitlePage" class="form-control" />
                        <span asp-validation-for="TitlePage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Menu</label>
                        <select asp-for="IdMenu" class="form-control" asp-items="ViewBag.IdMenu"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContentPage" class="control-label"></label>
                        <textarea asp-for="ContentPage" class="form-control"> </textarea>
                        <span asp-validation-for="ContentPage" class="text-danger"></span>
                        <script>
                            CKEDITOR.replace("ContentPage");
                        </script>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </section>
</main>

