@model ShopEcommerce.Models.Menu
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
   
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Menu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item"><a>Menu</a></li>
                <li class="breadcrumb-item active">Add </li>
            </ol>
        </nav>

        <hr />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateOrUpdate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="IdMenu" type="hidden" /> 
                        <label asp-for="NameMenu" class="control-label"></label>
                        <input asp-for="NameMenu" class="form-control" />
                        <span asp-validation-for="NameMenu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkMenu" class="control-label"></label>
                        <input asp-for="LinkMenu" class="form-control" />
                        <span asp-validation-for="LinkMenu" class="text-danger"></span>
                    </div>
         
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <input asp-for="Level" type="number" min="0" max="5" step="1" class="form-control" />
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="MenuOrder" class="control-label"></label>
                        <input asp-for="MenuOrder" type="number" min="0" step="1" class="form-control" />
                        <span asp-validation-for="MenuOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Menu cha</label>
                        <select asp-for="ParentId" asp-items="ViewBag.Menu" class="form-select form-control">
                            <option onselect="" disabled> Chọn menu</option>
                            <option name="ParentId" value="0" selected="selected"> NO MENU</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<
<div>
    <a asp-action="Index">Back to List</a>
</div>

